<!DOCTYPE>
<html>
<head>
<link rel="stylesheet" type="text/css" href="products.css"> 
  <title>
    
  </title>
</head>
<body>
<div class="row">
  <div class="col-md-3"><% @products.each do |product| %>
</div>


 
 <tr>
   <td>
    <a href="/products/<%= product.id %>"><%= product.name %></a>
  </td>
  <td><%= product.price %></td>
  <td><img src="product.image_url %>" /></td>
</tr>
<% end %>
</table> -->
  

</body>
</html>