<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>Hello!</h1>

<div class="table table-hover">
  <table class="table">
  <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Price</th>
      </tr>
    </thead>

<tr>
    <td>Macbook</td>
    <td>Pro</td> 
    <td>$1600</td>
  </tr>
  <tr>
    <td>HP</td>
    <td>Pavilion</td> 
    <td>$300</td>
  </tr>
  </table>
</div>

</body>
</html>